* {
    box-sizing: border-box;
    margin: auto;
}

body {
    width: 50vw;
    margin: auto;
    background-image: url("./bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.display-item {
    padding: 2%;
    border-radius: 10px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(240, 235, 235, 0.19) !important;
    border-radius: 20px;
    padding: 0 30px;
    background-color: #1d1d1d;
}